<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
    <div class="container">
        <h1>
            <% if(currentUser) { %>
                Welcome <%=currentUser.username%>!
                <a class="waves-effect waves-light btn" href="/sessions/">Log Out</a>
        </h1>
            <% } else { %>
            <h2>Please </h2>
                <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a></h2>
            <h3>or</h3>
                <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
            <% } %>
        </div>
    </body>
</html>