<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body class="container">
        <% var displayDateFormat = "DD-MM-YYYY hh:mm a";%>
        <% var bindingDateFormat = "YYYY-MM-DDThh:mm";%>
        <h1>Calories Tracker</h1>
        <form action="/diets" method="POST">
            <div class="form-group">
                <label for="inputFood">Food</label>
                <input type="text" class="form-control" id="inputFood" name="foodName" placeholder="Food or Drink">
            </div>
            <div class="form-group">
                <label for="inputFoodDescription">Description</label>
                <textarea class="form-control" id="inputFoodDescription" name="foodDescription" placeholder="Description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="inputCalories">Calories</label>
                <input type="number" id="inputCalories" name="calories" placeholder="calories">
            </div>
            <div class="form-group">
                    <label for="inputDateTime">Date/Time</label>
                    <input type="datetime-local" id="inputDateTime" name="consumeTime" value="<%= moment().format(bindingDateFormat)%>">
            </div>
            <div class="form-group">
                <label for="inputCalories">Food Image URL</label>
                <input type="url" class="form-control" id="inputFoodImage" name="image" placeholder="Image URL">
            </div>
            <input type="submit" class="btn btn-success" name="submit" value="Add Meal"/>
            <a href="/diets"><input type="button" class="btn btn-primary" value="Back to Index"/></a><br/><br/>
        </form>
    </body> 
</html>