@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";

.thumbnail{
    width: 120px;
    height: 120px;
}

.my-card-content {
    padding: 16px;
  }

.my-card {
  height: 350px;
  width: 350px;
}

a{
  color: white;
}