
.thumbnail{
    width: 120px;
    height: 120px;
}

.my-card-content {
    padding: 16px;
  }

.my-card {
  height: 350px;
  width: 350px;
  font-family: 'Bebas Neue', cursive;
  padding: 5px;
}

/* unvisited link */
a:link {
  color: #666666;
}

/* visited link */
a:visited {
  color: #666666;
}

/* mouse over link */
a:hover {
  color: #666666;
}

/* selected link */
a:active {
  color: #666666;
}

body{
  font-family: 'Open Sans', sans-serif;
  /* height:100vh; */
  /* position: relative;
	padding: 0 60px;
  width: 100%;
  background-color:green;
  display: block; */
}

.white-font{
  color: white;
}

.center{
  margin: 0 auto;
  text-align: center;
}

.padding{
  padding-top: 25%;
}

.container{
  background-image: url('background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* min-height: 71px; */
  margin: 0 auto;
}

.container-grid{
  display: grid;
  grid-template-columns: 15% 15% [main] 40% 15% 15%;
  grid-template-rows: 15% 15% [main] 40% 25% 5%;
  background-image: url('background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 971px;
  max-width: 1780px;
  padding-top: 25px;
}

.grid-item-center{
  grid-column-start: main;
  grid-column-end: 4;
  grid-row-start: main;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 15% 60% 25%;
}

.grid-item-main{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
}

.grid-item-header{
  grid-column-start: 5;
  grid-row-start: 1;
  align-self: center;
  justify-self: start;
}

.grid-item-header-user{
  grid-column-start: 4;
  grid-row-start: 1;
  align-self: center;
  justify-self: end;
  padding-right: 5px;
}

.grid-item-title{
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

.grid-item-details{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid-item-stats{
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: center;
  justify-self: end;
  margin-top: 20px;
}

.red-font{
  color: red;
}